@media screen and (max-width: 1024px) {
  .product-wide-card {
    grid-template-columns: 1fr;
  }

  .hookah-small-accessories__desctop {
    display: none;
  }

  .hookah-small-accessories__mobile {
    display: block;
  }
}

@media (max-width: 992px) {
  .desktop-nav,
  .desktop-btn {
    display: none;
  }

  .burger-btn {
    display: flex;
  }

  .burger-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .burger-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .burger-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .mobile-nav {
    text-align: center;
  }

  .accent-content {
    width: 100%;
  }

  .benefit-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .benefit-desc {
    text-align: left;
    color: var(--text-muted);
  }
}

@media (max-width: 939px) {
  .step-card:last-child,
  .contact-card:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media (max-width: 767px) {
  .hero-content h1 {
    font-size: 55px;
  }
  .hero-btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-large {
    width: 100%;
  }

  .photo-main {
    padding: 20px;
    display: block;
    height: 300px;
  }

  .photo-main img,
  .photo-kit img {
    object-fit: contain;
  }

  .info-main {
    border: none;
    text-align: center;
  }

  .contact-card {
    padding: 30px 20px;
  }

  .nav {
    display: none;
  }

  .header-container {
    justify-content: space-between;
    gap: 50px;
  }

  .benefits-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .section-title,
  .info-content h3 {
    font-size: 1.5rem;
  }
  .price {
    font-size: 2.2rem;
  }

  .step-card h3 {
    font-size: 1.25rem;
  }

  .product-price {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .catalog-grid {
    grid-template-columns: 1fr;
  }
  .product-image {
    height: 200px;
  }
}

@media (max-width: 360px) {
  .hero-content h1 {
    font-size: 1.7rem;
  }
}